---
layout: default
title: Nirav Sharma
---

<div class="row">
  <div class="column">
    <h4 class="subheader"><a href="https://www.linkedin.com/in/nas6">Nirav's</a> portfolio of <a href="https://linktr.ee/niravsharma">work</a></h4>
  </div>
</div>
<p></p>
<div class="row">
  <div class="columns">
    <h3 id="blog">Blog</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/blogs-short.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning square">
      <a href="#blog" class="close">&times;</a><a href="https://informs-sim.org/wsc08papers/012.pdf">Monte Carlo</a><p>Is this a new line or does this continue after M-C? this was a p</p>
    </div>
  </div><p></p><div class="columns">
    <h3 id="articles">Articles</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/artis-long.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning square">
      <a href="#arti" class="close">&times;</a><a href="https://www.columbia.edu/~mh2078/FoundationsFE/BlackScholes.pdf">Black-Scholes</a><a>Is this a new line or does this continue after B-S? this was an a </a>
    </div>
  </div>
</div>
