---
layout: default-test
title: Nirav Sharma
---

<div class="row">
  <div class="column">
    <h3 class="subheader"><a href="https://x.com/fortune_cartel_">Nirav's</a> portfolio of <a href="https://github.com/Nirav-Sharma/">work</a></h3>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h2 id="blog">Blog</h2>
  </div>
  <div class="medium-8 columns">
    {% include noita/blogs-short.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning square">
      <a href="#blog" class="close">&times;</a><a href="https://informs-sim.org/wsc08papers/012.pdf">Monte Carlo</a>
    </div>
  </div><div class="columns">
    <h2 id="articles">Articles</h2>
  </div>
  <div class="medium-8 columns">
    {% include noita/artis-long.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning square">
      <a href="#blog" class="close">&times;</a><a href="https://www.columbia.edu/~mh2078/FoundationsFE/BlackScholes.pdf">Black-Scholes</a>
    </div>
  </div>
</div>
