---
layout: default
title: Nirav Sharma
---

<div class="row" style="max-width: 900px; margin: 0 auto;">
  <div class="columns">
    <h4 class="subheader"><a href="https://www.linkedin.com/in/nas6">Nirav's</a> <a href="https://linktr.ee/niravsharma">portfolio</a></h4>
  </div>
</div>
<p></p>
<div class="row" style="max-width: 900px; margin: 0 auto;">
  <div class="columns">
    <h3 id="blog">Blog</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/blogs-short.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning">
      <a href="#blog" class="close">&times;</a>
      <b>C Programming Projects</b>
      <p><a href="https://github.com/Nirav-Sharma/C-legs">C Programming Practice</a>Maths practice in C</a></p>
      <p><a href="https://github.com/Nirav-Sharma/Dr-Ps-C/">Coursera's C for Everyone</a></p>
    </div>
  </div>
  <p></p>
  <div class="columns">
    <h3 id="articles">Articles</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/artis-long.html %}
  </div>
  <div class="medium-4 columns">
    <div data-alert class="alert-box warning square">
      <a href="#arti" class="close">&times;</a>
      <b>Python Programming Projects</b>
      <p><a href="https://github.com/Nirav-Sharma/motley-python">Finance and stats practice in Python</p>
    </div>
  </div>
</div>

