---
layout: default
title: Nirav Sharma
---

<div class="row">
  <div class="column">
    <h4 class="subheader"><a href="www.linkedin.com/in/nas6">Nirav's</a> portfolio of <a href="https://linktr.ee/niravsharma">work</a></h4>
  </div>
</div>
<p></p>
<div class="row">
  <div class="columns">
    <h3 id="blog">Blog</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/blogs-short.html %}
  </div><p></p><div class="columns">
    <h3 id="articles">Articles</h3>
  </div>
  <div class="medium-8 columns">
    {% include noita/artis-long.html %}
  </div>
</div>
